<div>
    <div class="container">
        <div class="head">
            <h1>What We Offer To Our Clients</h1>
        </div>
        <div class="content">
            <div class="row">
                <div class="column">
                    <div class="icon">
                        <img src="../../../assets/images/building-icon.png" alt="building-icon">
                    </div>
                    <div class="content">
                        <h2>Architecture</h2>
                        <p>Bacon ipsum dolor amet turducken strip steak kevin pastrami filet mignon
                            frankfurter, bresaola drumstick short ribs ribeye tri-tip flank.</p>
                        <a id="projects-link" [routerLink]="['/projects']">View Details</a>
                    </div>
                </div>
                <div class="column">
                    <div class="icon">
                        <img src="../../../assets/images/content-icon.png" alt="building-icon">
                    </div>
                    <div class="content">
                        <h2>Design</h2>
                        <p>Bacon ipsum dolor amet turducken strip steak kevin pastrami filet mignon
                            frankfurter, bresaola drumstick short ribs ribeye tri-tip flank.</p>
                        <a id="projects-link" [routerLink]="['/projects']">View Details</a>
                    </div>
                </div>
                <div class="column">
                    <div class="icon">
                        <img src="../../../assets/images/maintenance-icon.png" alt="building-icon">
                    </div>
                    <div class="content">
                        <h2>Concept</h2>
                        <p>Bacon ipsum dolor amet turducken strip steak kevin pastrami filet mignon
                            frankfurter, bresaola drumstick short ribs ribeye tri-tip flank.</p>
                        <a id="projects-link" [routerLink]="['/projects']">View Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>